.paginationContainer {
    display: flex;
    list-style-type: none;
    margin-bottom: 10vh;
    margin-top: 5vh;
    height: 10%;
    align-items: center;
    padding: 0;
  
    .paginationItem {
        padding: 0 0.25rem;
        height: 32px;
        text-align: center;
        margin: auto 4px;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.01071em;
        border-radius: 16px;
        line-height: 1.43;
        font-size: 1.05rem;
        font-weight: 600;
        min-width: 32px;
  
        &.dots:hover {
            background-color: transparent;
            cursor: default;
        }
        &:hover {
            background-color: #c0c0c0;
            cursor: pointer;
        }
    
        &.selected {
            background-color: #c0c0c0;
        }
  
        &.disabled {
            pointer-events: none;
    
            .navigateNext, .navigateBefore {
                color: grey;
            }
    
            &:hover {
                background-color: transparent;
                cursor: default;
            }
        }
    }
  }
  